<a href="https://colab.research.google.com/github/JoseMtnz/Python_Excel_Automation/blob/main/Python_Basics_Module_1_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a brief overview of basics concepts of Python programming

**Topics:**

1. Syntax, comments, operations
2. Workflow & Indentation
3. True, False
4. Conditions: IF, ELSE, ELIF
5. Variable Types 
6. Lists
7. Strings
8. Tuples
9. Dictionaries
10. DataFrames
11. Loops
12. Functions

Helpfull links:



*   https://www.datacamp.com/
*   https://stackoverflow.com/
*   https://www.w3schools.com/python/default.asp
*   https://pynative.com/python/
*   https://www.programiz.com/python-programming

# 1.&nbsp;Syntax

This is a text section

In [1]:
# Comment

# This is a comment !

Function

In [2]:
print()

The *print()* function prints the specified message to the screen, or other standard output device.

The message can be a string, or any other object, the object will be converted into a string before written to the screen.

In [3]:
# to display the string 'Hello world' use the function print()

# as Hello world is a string you have to add single or double quotations marks

print('Hello world')

Hello world

In [4]:
# numbers

print(2)

2

In [5]:
# operations / calculation

print(2+3)

5

In [6]:
2+3

5

In [7]:
2+4
print(2+3)
print(1*8)

5
8

In [8]:
# string/text ==> quotation marks: single or double

print('This is a string')
print("This is a string")

This is a string
This is a string

In [9]:
# variables

# to assign a value use the symbol =
# assign a numerical variables

x=2
y=3

print(x)
print(y)
print(x, y)

2
3
2 3

In [10]:
# make operations with assigned variables

x+y

5

In [11]:
# assign a 'text' value to a variable
# make operations with strings

string1='love'
string2='data'

print(string1)
print(string2)

# concatenate them
print(string1 + string2)

love
data
lovedata

In [12]:
# add a space
print(string1 + ' ' + string2)

love data

# 2.&nbsp;Workflow & Indentation

Workflow is the series of activities that are necessary to complete a task

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code. The standard Python indentation is 4 spaces, although tabs and any other space size will work, as long as it is consistent.

In [13]:
# Python will give you an error if you skip the indentation:

a=5
b=2

if a > b:
  print("a is greater than b !")

a is greater than b !

In [14]:
# the correct way to use indentation
# ends with a colon (:)

a=5
b=2

if a > b:
  print("a is greater than b !")

a is greater than b !

# 3.&nbsp;True, False

In [15]:
# Boolean True, False

# If a statement is correct then it will return True
# IF the statement is NOT correct , it will return False
# use == symbol

a=1
b=2
c=1

print(a==b)

False

In [16]:
print(a==c)

True

# 4.&nbsp; Condition: IF, ELSE, ELIF

In [17]:
# IF the statement is true then..do something

x = 1

if x > 0:
  print('x is grater then 0')

x is grater then 0

In [18]:
x = -2

if x > 0:
  print('x is greater then 0')

In [19]:
# IF the statement is true then..do something, ELSE otherwise do something else

x= -3
if x>0:
  print('x is grater then 0')
else:
  print('x is less then 0')

x is less then 0

In [20]:
x=0

if x>0:
  print('x is grater then 0')
else:
  print('x is less then 0')

x is less then 0

In [21]:
if x>0:
  print('x is grater then 0')
elif x==0:
  print('x is equal to 0')
else:
  print('x is less then 0')

x is equal to 0

## IF, ELIF, ELSE Practice ***

Write a code to return the evaluation of a variable called "grade". 
The grade has to be a numerical variable from 1 to 10.
>If the grade is below 5 return "You failed".

>If the grade is between 5 and 8 included return "You passed"

>If the grade is over 8 then return "You excelled"

Hint:


1.   create a variable called grade, and give it a randome value from 1 to 10
2.   Then imagine possible scenarios of what value that variable can get, to correctly use IF, ELIF, ELSE

grade = ???

if grade ??? 5:

____print(????)

elif grade ??? 5 and ????:

____print(????)

else:
____????

In [22]:
grade=9

if grade > 5:
  print("Greater than 5")
else: 
  print("Smaller then 5")

Greater than 5

# 5.&nbsp;Variable types

## Integer

In [23]:
# integer
age = 7
print(type(age))

<class 'int'>

##Float

In [24]:
# float
age = 7.5
print(type(age))

<class 'float'>

## String

In [25]:
# str
name = 'Jessica'
print(type(name))

<class 'str'>

In [26]:
# Definition of pi_string
pi_string = "3.1415926"
print('the type of pi_string variable: ', type(pi_string))
print('the value of pi_string variable: ', pi_string)
print('')

the type of pi_string variable:  <class 'str'>
the value of pi_string variable:  3.1415926

In [27]:
# convert string to float
pi_float= float(pi_string)
print('the type of pi_float variable: ', type(pi_float))
print('the value of pi_float variable: ', pi_float)
print('')

the type of pi_float variable:  <class 'float'>
the value of pi_float variable:  3.1415926

In [28]:
# convert float to integer
pi_int= int(pi_float)
print('the type of pi_int variable: ', type(pi_int))
print('the value of pi_int variable: ', pi_int)
print('')

the type of pi_int variable:  <class 'int'>
the value of pi_int variable:  3

More about convertion of string and int
https://realpython.com/convert-python-string-to-int/

##Tuple

In [29]:
# tuple
name_age = (name, age)
print(name_age)
print(type(name_age))

('Jessica', 7.5)
<class 'tuple'>

## Date

In [30]:
# date
date = '2022-12-31' # separated by hyphens
print(date)
print(type(date))

2022-12-31
<class 'str'>

In [31]:
#to convert a string into date we first need to import datetime module

# import datetime package from datetime module
from datetime import datetime

datetime_str = '09/19/18 13:55:26'

datetime_object = datetime.strptime(datetime_str, '%m/%d/%y %H:%M:%S')

print(type(datetime_object))
print(datetime_object)  # printed in default format

<class 'datetime.datetime'>
2018-09-19 13:55:26

In [32]:
# if we want to omitt time (hous, minutes, seconds)
date = '2022-12-31'

print(datetime.strptime(date, '%Y-%m-%d'))
print('')

# import datetime package from datetime module
datetime_object = datetime.strptime(date, '%Y-%m-%d').date()
print(type(datetime_object))
print(datetime_object)

2022-12-31 00:00:00

<class 'datetime.date'>
2022-12-31

More about date conversion
https://www.digitalocean.com/community/tutorials/python-string-to-datetime-strptime

# 6.&nbsp;Lists

## List creation

In [33]:
# Using list constructor
my_list1 = list((1, 2, 3))
print(my_list1)

[1, 2, 3]

In [34]:
# create a list
our_list = ["a","b","c", 1, 1.5]
print('the type of our_list', type(our_list))
print(our_list)

the type of our_list <class 'list'>
['a', 'b', 'c', 1, 1.5]

## Append an element

In [35]:
# append an element to the list

our_list.append("d") # it will append 'd' at the end of the list
print(our_list)

['a', 'b', 'c', 1, 1.5, 'd']

## Index and Slicing

The items in a list can be accessed through indexing and slicing. This section will guide you by accessing the list using the following two ways



*   **Using indexing**, we can access any item from a list using its index number
*   **Using slicing** , we can access a range of items from a list

Index

In [36]:
# access element in the list

# list indexing starts a 0

# access first element in the list
our_list[0]

'a'

In [37]:
# access last element in the list
our_list[-1]

'd'

In [38]:
# negative index: the seconf element from the end of the list

our_list[-2]

1.5

In [39]:
# access the 3rd element of the list

print(our_list)
our_list[2] # because our first index is 0

['a', 'b', 'c', 1, 1.5, 'd']

'c'

Slicing

In [40]:
# the first 2 elements

print(our_list)
print(our_list[2])
our_list[:2]

['a', 'b', 'c', 1, 1.5, 'd']
c

['a', 'b']

In [41]:
# Stating from 2nd item to last item ==> ['c', 1, 1.5, 'd']

print(our_list)
print(our_list[2:]) # not that here the lower limit is included

['a', 'b', 'c', 1, 1.5, 'd']
['c', 1, 1.5, 'd']

In [42]:
# access the sublist c to 1.5 ==> ['c', 1, 1.5]

print(our_list)
print(our_list[2])
print(our_list[4])

['a', 'b', 'c', 1, 1.5, 'd']
c
1.5

In [43]:
our_list[2:4] # note that upper limit is not included

['c', 1]

In [44]:
our_list[2:5] # we have to add +1 to upper limit if we want to include 1.5

['c', 1, 1.5]

##Length

In [45]:
# length of the list
len(our_list)

6

## Insertions

In [46]:
# insert an element in the list at 1st position

our_list.insert(0, "First element") # instert before 1st element
print(our_list)

['First element', 'a', 'b', 'c', 1, 1.5, 'd']

In [47]:
# insert an element in the list before the last one

our_list.insert(-1,"element") # instert before last element
print(our_list)

['First element', 'a', 'b', 'c', 1, 1.5, 'element', 'd']

## Remove

In [48]:
# remove element
our_list.remove("First element")
print(our_list)

['a', 'b', 'c', 1, 1.5, 'element', 'd']

In [49]:
# remove element by its index

our_list.pop(0)
print(our_list)

['b', 'c', 1, 1.5, 'element', 'd']

## Nested List

In [50]:
# we can have nested lists

nested_list = [[1,2,3],6,7,5]
print(nested_list)

[[1, 2, 3], 6, 7, 5]

In [51]:
# length of nested ==> the list within my_list [1, 2, 3] will be considered a single element
len(nested_list)

4

In [52]:
# access 1st element of nested list
nested_list[0]

[1, 2, 3]

In [53]:
# access 2nd element of nested list
nested_list[1]

6

In [54]:
# access an element from a list within the nested list 2
nested_list[0][1]

2

More about lists https://pynative.com/python-lists/

## List Practice ***

In [55]:
# create a list called 'my_list' with elements 'John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30

my_list= ['John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30]

# how many elements my_list has ?

len(my_list)

# append 'Bill' to the list and check now its length

my_list.append('Bill')
len(my_list)
# return 'John'

my_list[0]

# return 'Bill'

my_list[-1]

# return 34

my_list[-3]

# return John and Emma

my_list[:2]

# return Emma, 10, 5

my_list[1:4]

# return Tom, 34, 30, Bill

my_list[-4:]

# insert an element 'Julia' in the list at 2nd position

my_list.insert(1,"Julia")

# insert an element 'Anna" in the list before 30

my_list.insert(-2,"Anna")

# remove element 'Emma' (2 ways to remove it)
#my_list.remove("Emma")

my_list.remove("Emma")


## OR 

my_list.pop(-3)

# append a new list [Sarah, 42, Jerry] ==> to obtain a nested list

new_list = ['Sarah', '42', 'Jerry']
my_list.append(new_list)

# return 'Sarah'

my_list[-1][0]

'Sarah'

# 7.&nbsp;Strings

In [56]:
string_a = 'text'
string_a

'text'

In [57]:
string_b = 'This is a '
string_b

'This is a '

In [58]:
string_b + string_a

'This is a text'

In [59]:
string_c = string_b + string_a
string_c

'This is a text'

In [60]:
string_c.lower()

'this is a text'

In [61]:
string_c.upper()

'THIS IS A TEXT'

In [62]:
# access a string
string_c[0]

'T'

In [63]:
# length (the space is counted a 1)
len(string_c)

14

In [64]:
# splitting strings
string_d = "Derrick-Matt-Jessica"
print(string_d)

Derrick-Matt-Jessica

In [65]:
# Split a string into a list where each word is a list item, use split() function
# split by hyphen

print(string_d.split("-"))

['Derrick', 'Matt', 'Jessica']

More about splitting strings https://www.w3schools.com/python/ref_string_split.asp

More about strings manipulations https://www.w3schools.com/python/python_ref_string.asp

https://www.programiz.com/python-programming/string

# 8.&nbsp;Tuples

A tuple is a collection which is ordered and unchangeable (inmutable)
.

In [66]:
tuple_a = ('Dog', 'Cat', 'Frog')

In [67]:
# inmutable
tuple_a.append('Mouse')

AttributeError: ignored

In [ ]:
# ordered

tuple_a[0]

More about Tuples https://www.w3schools.com/python/python_tuples.asp

# 9.&nbsp;Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
# a dictionary is made of keys and values
# dictionary have curly brackets

dictionary = {"key_1":"value_0",
               "key_2":"value_2",
               "key_3":"value_3"}

dictionary

In [ ]:
# create a dictionary called 'our_dictionnary'

our_dictionary = {"name":"Derrick",
                  "height":"6'0",
                  "location":"Lost"}
                  
# here "name" is the key and 'Derrick' is the value
our_dictionary

In [ ]:
# access dictionary by key

print(dictionary["key_1"])

In [ ]:
# change a value by key

dictionary["key_1"] = "value_1"
print(dictionary)

In [ ]:
# add an element to dictionary

dictionary["eye color"] = "blue"
print(dictionary)

In [ ]:
# remove element
dictionary.pop("eye color")
print(dictionary)

## Dictionary Practice ***

In [ ]:
# create a dictionary "my_dictionary"
# 1st key: 'names'
# values of 1st key: ['Anna', 'John', 'Matt']
# 2nd key: 'age'
# values of 2nd key: [23, 42, 12]

my_dictionary = {'names':['Anna', 'John', 'Matt'],
                 'age':[23, 42, 12]}

In [ ]:
my_dictionary

In [ ]:
import pandas as pd

df2 = pd.DataFrame(my_dictionary)
df2

# 10.&nbsp;DataFrame

The dataframe is like a table with 2 dimensions, where you have columns and rows

In [ ]:
dataframe = {"name":['Jess', 'Nick', 'Winston', 'Tom', 'Alex'],
              "age":['30', '35', '40', '27', '52'],
              "city":['Paris', 'Berlin', 'Madrid', 'Paris', 'London'],
             "country": ['France', 'Germany', 'Spain', 'France', 'UK']}

dataframe

In [ ]:
# import pandas package

import pandas as pd

More about pandas package https://pandas.pydata.org/

In [ ]:
# create a dataframe

# load the the dictionary into a dataframe
df1 = pd.DataFrame(dataframe)

df1

In [ ]:
# visualize the first 3 rows of df

df1.head(3) # please note that the row index start at 0

In [ ]:
# visualize the last 3 rows of df

df1.tail(3) # please note that the row index start at 0

In [ ]:
# df dimensions

df1.shape #retunr nb of rows, and nb of columns

In [ ]:
# nb of rows

df1.shape[0]

In [ ]:
len(df1)

In [ ]:
# nb. of columns
df1.shape[1]

In [ ]:
len(df1.columns)

In [ ]:
# get df columns

df1.columns

In [ ]:
# 1st column index: starts at 0

df1.columns[0]

## Locations: .iloc & .loc

In [ ]:
# access values by column name

df1['age']

TO access values from dataframe we use **.iloc** and **.loc** attributes

**.iloc**

The pandas.DataFrame.iloc attribute is used to access elements from a pandas DataFrame using the integer position. 

The .iloc attribute allows inputs like an integer value, a list of integer values, and a slicing object with integers, and boolean array, etc.

The attribute will raise an IndexError if the requested index is out of bounds, except for the slicing indexer object.

iloc[row_position, column_position]

In [ ]:
print(df1)
print('')

# acces 1st row with .iloc
df1.iloc[0] # a sing argument

In [ ]:
print(df1)
print('')

# acces the last row with .iloc
df1.iloc[-1]

In [ ]:
# accessing a single element by index with .iloc attribute

print(df1)
print('')
print('the 1st element of df is: ', df1.iloc[0, 0])

In [ ]:
# accessing the last element of the df
df1.iloc[-1, -1]

In [ ]:
# return element with value 40

print(df1)
print('')
df1.iloc[2,1] # row index 2 and col index 1

In [ ]:
# out of bounds index
df1.iloc[12,2]

In [ ]:
print(df1)
print('')

# accessing a range of values by index
df1.iloc[:3, 1:3] # all elements till the 2nd row (not included) and columns from 1 to 3 (where 3 not included)

**.loc**

The .loc is an attribute of the pandas.DataFrame. it is used to access elements from DataFrame based on row/column label indexing.

loc[row_label, column_label]

In [ ]:
# the rows have indices, but no labels

print(df1.shape)

df1

In [ ]:
# reset the index of df, use the column name as index

df1 = df1.set_index('name')
print('the new shape of df1 is: ', df1.shape)
print('')
df1

In [ ]:
# access an element by labels

print(df1)
print('')
print('The country of Nick is: ... ')
df1.loc['Nick', 'country']

In [ ]:
# access a range of elements by labels
print(df1)
print('')
print('The countris of Nick and Winston is: ... ')
df1.loc['Nick':'Tom', 'country']

In [ ]:
# the country of specific rows

df1.loc[['Alex', 'Nick'], 'country']

In [ ]:
# the country and city of specific rows

df1.loc[['Alex', 'Nick'], ['country', 'city']]

More about locations https://towardsdatascience.com/how-to-use-loc-and-iloc-for-selecting-data-in-pandas-bd09cb4c3d79

https://www.tutorialspoint.com/how-to-access-pandas-dataframe-elements-using-the-loc-attribute

https://www.tutorialspoint.com/how-to-access-pandas-dataframe-elements-using-the-iloc-attribute

## Filter

In [ ]:
# filter all data that are in Paris

df1[df1['city']=='Paris']

## Join dataframes

In [ ]:
dataframe_1 = {"prnom":['Matthew', 'Philippe'],
              "age":['32', '45'],
              "city":['London', 'London'],
               "pays": ['UK', 'UK']}

df2 = pd.DataFrame(dataframe_1)

df2.head()

In [ ]:
print(df2.columns)

In [ ]:
# change df columns

df2.columns = ['name', 'age', 'city', 'country']
df2.head()

In [ ]:
#compare both dfs column names

print('the column names of 1st df are: ', df1.columns)
print('the column names of 2nd df are: ', df2.columns)

In [ ]:
# join the dfs into a single one

# concatenate all df into a single one
df = pd.concat([df1, df2]) # it will use the column names  to join by

# check dataframes shapes
print('the df1 Shape is : ', df1.shape)
print('the df2 Shape is : ', df2.shape)
print('the new joined Dataframe Shape is : ', df.shape)
print('')

# visualize the new df
print('')
print('The output is not what reall wanted as we have NaN values in name columns and not all indices are the names...')
df

In [ ]:
# to be obtain a homogeneous df we need both dfs to be structured the same
# use name column as df index for df2 as df1 did

df2 = df2.set_index('name')
df2.head()

In [ ]:
# join the dfs into a single one

# concatenate all df into a single one
df = pd.concat([df1, df2]) # it will use the column names  to join by

# check dataframes shapes
print('the df1 Shape is : ', df1.shape)
print('the df2 Shape is : ', df2.shape)
print('the new joined Dataframe Shape is : ', df.shape)
print('')

# visualize the new df
print('')
print('Now we have a homogeneous df')
df

## Add columns or rows

In [ ]:
# add region a column region where all alues will be 'Europe'

df['region'] = 'Europe'
df

In [ ]:
# add a column salary, with respective values
# please keep in mind that the length has to be the same

salary = ['40000', '45000', '50000', '55000', '60000', '65000', '70000'] # the list has to have the same nb of element as the nb of rows

df['salary']= salary

print(df.shape)
df

In [ ]:
# add a new row
df.loc['John']= [40, 'New York','USA', 'North America', '75000']
df

## Modify the df

In [ ]:
# Philippe moved to Paris and we want to update the df

df.loc['Philippe', ['city', 'country']] = ['Paris', 'France']
df

In [ ]:
# Philippe moved back  to London and even got a promotion and we want to update the df

df.iloc[6, [1, 2, 4]]= ['London', 'UK', '80000'] 

df

## Explore df

In [ ]:
# general info of df

df.info()

In [ ]:
# salary and age are object dtype, but we want it as numeric

# convert column of a DataFrame
df["age"] = pd.to_numeric(df["age"])
df["salary"] = pd.to_numeric(df.salary)
df.info()

In [ ]:
# df describe

df.describe()

In [ ]:
# distinct cities

df.city.unique()

In [ ]:
# number of distinct cities
len(df['city'].unique())

## Groupby

In [ ]:
#check the mean age by city
df.groupby(by=["city"])['age'].mean()

In [ ]:
# #check the total salary by city
df.groupby(by=["city"])['salary'].sum()

In [ ]:
# group by 2 variables

df.groupby(by=['region', "country"])['salary'].mean()

## Pivot

Create a spreadsheet-style pivot table as a DataFrame.

The levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame

More about pivot function in python https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html

In [ ]:
# create a table that contains data about some packaging

# the Box can be of wood or paper
# in colors red or blue
# of size small or large
# with thier respective quantity and weight

table = pd.DataFrame({"Box": ["wood", "wood", "wood", "wood", "wood",
                         "paper", "paper", "paper", "paper"],
                   "Color": ["red", "red", "red", "blue", "blue",
                         "red", "red", "blue", "blue"],
                   "Size": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "Qty": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "Weigth": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

table

In [ ]:
# import numpy module that help to work with numerical datatypes

import numpy as np

MOre about numpy package https://numpy.org/

In [ ]:
# pivot table dataframe, to get the sum of Qty by Box and Color (rows), and split by Size (columns)

pivot = pd.pivot_table(table, # data to pivot
                       values='Qty', # column to aggregate
                       index=['Box', 'Color'], # Grouper, Keys to group by on the pivot table index.
                       columns=['Size'], # Keys to group by on the pivot table column., will be the columns value
                       aggfunc=np.sum)# the aggregation function

pivot

## DataFrame Practice ***

In [69]:
# create a dataframe df from data

import pandas as pd

# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Phd', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame and call it df1
df1 = pd.DataFrame(data)

# display the first 2 rows of df1

df1.head(2)

# display the last rows of the df1

df1.tail()

# what are the dimensions of df1

df1.shape

# how many rows ?
df1.shape[0]


# how many columns

df1.shape[1]


# what are the name of the columns

df1.columns

# return the name of the second columns

df1.columns[1]

####  Locations -----------

# access the 2nd row

df1.iloc[1]

# return the data with .iloc

#'''
#Age  Adress 
  #24   Kanpur
  #22   Allahabad
  #'''

# return the data with .loc

df1 = df1.set_index('Name')
df1.loc["Princi"]
#'''
#Age  Adress 
#24   Kanpur
#22   Allahabad
#'''

# return qualification for 'Jai' to 'Anuj' with .loc (!!! reset the index)

df1.loc["Jai":"Anuj","Qualification"]


# return the qualification and city for 'Jai' , 'Anuj', 'Gaurav' with .loc

df1.loc[["Jai","Anuj",'Gaurav'],"Qualification"]

####  Filter -------------

# access the only the data where Qualification is Phd

df1[df1['Qualification']=="Phd"]

#### Join dfs ---------

# create another dataframe df2

# Define a dictionary containing employee data
data = {'Name':['Matt', 'Joe'],
       'Age':[65, 43 ],
       'Address':['Monge', 'Chatelet'],
       'Qualification':[ 'MCA', 'Phd']}

df2=pd.DataFrame(data)
 
# Convert the dictionary into DataFrame and call it df2
df2

# joinf df1 and df2 into a new dataframe df

# check the dimension of the new joined df

df2.shape

df1.shape

df1.head()

df1=df1.reset_index()

df1.head()

df=pd.concat([df1,df2])

df.head()

df2.head()

df.head(6)

#### Modify df ----------

df=df.set_index("Name")
df.head()

# add a new row ['Calib', '34', 'Monge', 'Phd]

df.loc['Calib']=['34', 'Monge', 'Phd']
df.tail()

# Matt changed the address to 'LA Dfense' or 'La Dfense' , update the data frame with .iloc (LA Dfense) and loc (La Dfense)

df.loc['Matt','Address']=['La Dfense']
df.head(10)
#### Explore df ------------

# what data type are columns
df.describe()

df.info()

#### Filter ----

 # filter data of people that have Phf

df[df['Qualification']=="Phd"]


#### Groupby -----------

# what's the average age of people that have Phd

df.groupby(by=["Qualification"])['Age'].mean()

#### Pivot -----------

# create a pivot table where rows are the qualifications and names, columns their adress, and values in the pivot table is the mean age

## hint
# first import numpy package as np

import numpy as np
# use pd.pivot_table() with necessary arguments

pivot = pd.pivot_table(df, # data to pivot
                       values='Age', # column to aggregate
                       index=['Name', 'Qualification'], # Grouper, Keys to group by on the pivot table index.
                       columns=['Address'], # Keys to group by on the pivot table column., will be the columns value
                       aggfunc=np.mean)# the aggregation function

pivot

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Jai to Calib
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            7 non-null      object
 1   Address        7 non-null      object
 2   Qualification  7 non-null      object
dtypes: object(3)
memory usage: 524.0+ bytes

,Address,Allahabad,Chatelet,Delhi,Kannauj,Kanpur,La Dfense,Monge
Name,Qualification,,,,,,,
Anuj,Phd,NaN,NaN,NaN,32.0,NaN,NaN,NaN
Calib,Phd,NaN,NaN,NaN,NaN,NaN,NaN,34.0
Gaurav,MCA,22.0,NaN,NaN,NaN,NaN,NaN,NaN
Jai,Phd,NaN,NaN,27.0,NaN,NaN,NaN,NaN
Joe,Phd,NaN,43.0,NaN,NaN,NaN,NaN,NaN
Matt,MCA,NaN,NaN,NaN,NaN,NaN,65.0,NaN
Princi,MA,NaN,NaN,NaN,NaN,24.0,NaN,NaN

In [76]:
df.groupby(by=["Qualification"])['Age'].mean()

Qualification
MA     24.0
MCA    43.5
Phd    34.0
Name: Age, dtype: float64

In [73]:
pd.to_numeric(df['Age'])

Name
Jai       27
Princi    24
Gaurav    22
Anuj      32
Matt      65
Joe       43
Calib     34
Name: Age, dtype: int64

In [74]:
df['Age']=pd.to_numeric(df['Age'])

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7 entries, Jai to Calib
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            7 non-null      int64
 1   Address        7 non-null      object
 2   Qualification  7 non-null      object
dtypes: int64(1), object(2)
memory usage: 524.0+ bytes

# 11 Loops

##  FOR

A **for** loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc

In [77]:
# visualize code execution
# https://pythontutor.com/python-debugger.html

# create a list of groceries
groceries = ['Apple','Orange', 'Banana', 'Kiwi']

groceries

['Apple', 'Orange', 'Banana', 'Kiwi']

the syntax of a 'for loop':


**for** element **in** list:   
 _____*do something *

It's like saying : for each element in the list, do something with it

In [78]:
# iterate through list to access/print each element of the list
for item in groceries:
    print(item)

Apple
Orange
Banana
Kiwi

In [79]:
# we can iterate with condition

numbers = [-2, 4, -1, 8, 10]

# if element is positive then...
# devide each element in the list by 2
# else, print that this number is not positive

for number in numbers:
  if number > 0:
      print(number/2)
  else:
    print('this number is not positive')

this number is not positive
2.0
this number is not positive
4.0
5.0

In [80]:
# we can iterate through a chain of strings

string = 'ilovepython'

for letter in string:
  print(letter)

i
l
o
v
e
p
y
t
h
o
n

In [81]:
# iterate through a chain of strings and do something

vowels = ['a', 'e', 'i', 'o', 'u']

# iterate through the string 'ilovepython' and if the letter is a vowel then print it in CAPITALS with function upper()
for letter in string:
  if letter in vowels:
    print(letter.upper())
  else:
    print(letter)

I
l
O
v
E
p
y
t
h
O
n

Nested LIsts

In [82]:
# iterate through nested lists

fruit_list = [['Apple', 4],['Orange', 2],['Banana', 6],['Kiwi', 5]]
fruit_list

[['Apple', 4], ['Orange', 2], ['Banana', 6], ['Kiwi', 5]]

In [83]:
# access 1 element from the second item ("2")
fruit_list[1][1]

2

In [84]:
# return 'Banana:

# fruit_list[???] # the element  ['Banana', 6]

fruit_list[2][0] # only the sub_element 'Banana'

'Banana'

In [85]:
for element in fruit_list:
    print(element)

['Apple', 4]
['Orange', 2]
['Banana', 6]
['Kiwi', 5]

In [86]:
# sometimes you'll need to access each element in a nested list and store them in a flat list (regular list) 

# iterate through nested lists
# accesst each element and sore it as a flat list
# the expected output: ['Apple', 4, 'Orange', 2, 'Banana', 6, 'Kiwi', 5]

# create a copy of fruit_list called copy_list wtth copy() function

copy_list = fruit_list.copy()
print(copy_list)
print('')

# creat an empty list where we'll store all elements

flat_list = [] # empty list
print(flat_list)
print('')

for sublist in copy_list:
    for item in sublist:
        flat_list.append(item)

print(flat_list)

[['Apple', 4], ['Orange', 2], ['Banana', 6], ['Kiwi', 5]]

[]

['Apple', 4, 'Orange', 2, 'Banana', 6, 'Kiwi', 5]

In [88]:
# another syntax to get the same result
# iterate through a nested loop 
flat_list = [item for sublist in l for item in sublist]
flat_list

NameError: ignored

## WHILE

With the while loop we can execute a set of statements as long as a condition is true

In [89]:
# as long i is less then 10, print i

i = 1
while i < 10:
  print(i)
  i += 1 # increment by 1

1
2
3
4
5
6
7
8
9

In [90]:
# exit when i gets to 4

i = 1
while i < 10:
  print(i)
  if i == 4:
    break
  i += 1

1
2
3
4

## Loops Practice ***

In [92]:
# Create a list "numbers"

numbers = [0, -2,  3, 4, -1, 8, -5]

# write a code (using for loop),  to iterate through the lis numbers
 # to multiply each element of the list by 3, if this element > 0,
 #  multiply by 2 if element is < 0,
 # and return 0 if element is 0

# 12.&nbsp;Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

More about functions https://www.w3schools.com/python/python_functions.asp

In [93]:
# create a function called operation
# the syntax of a function is the keyword def, name of the function, the parameters to use, and the action of the function

# write a function operation, when given the parameter x, would add + 2.6 to it, and then devided by 5.5
# store the output int a variable "result"
# and print out the output

def operation(x):
    result = (x + 2.6)/5.5
    print(round(result, 2))


operation(10)

2.29

Body Fat Calculator

In [94]:
# compute body fat

height = 165 # in inches (devide cm by 2,54)
weight = 110 # in pounds (multiply kg by 2,205))

# CALCULATE YOUR BODY MASS INDEX (BMI)
bmi = (weight/(height**2) ) * 703 # conversion factor of 703
bmi

2.8404040404040405

In [95]:
# create a function called bmi that would automatically compte the body fat 

def bmi(height,weight):
  bmi= (weight/(height**2) ) * 703 
  print('your Body Mass Index is ', round(bmi, 2))

In [96]:
bmi(168, 66)

your Body Mass Index is  1.64

In [97]:
bmi(height=65,weight=110)

your Body Mass Index is  18.3

*Body Fat Percentage for women*

In [98]:
def bfp_women(bmi, age):
  body_fat_pct = (1.20 * bmi) + (0.23 * age) - 5.4
  print(body_fat_pct)

bfp_women(bmi= 18.3, age = 30)

23.46

*Body fat diagnos for women*

Women diagnosis:

20-40 yrs old: 


> 
Underfat: under 21 percent, Healthy: 21-33 percent, Overweight: 33-39 percent, Obese: Over 39 percent

41-60 yrs old:

> 

Underfat: under 23 percent, Healthy: 23-35 percent, Overweight : 35-40 percent Obese: over 40 percent 


61-79 yrs old:

> 

Underfat: under 24 percent, Healthy: 24-36 percent, Overweight: 36-42 percent, Obese: over 42 percent Men:

In [99]:
def bfp_women_diagnosis(height, weight, age):
  bmi = (weight/(height**2) ) * 703
  body_fat_pct = round(((1.20 * bmi) + (0.23 * age) - 5.4),2)
  if age <=40:
     if body_fat_pct < 21:
        print('your fat percentage is: ',  body_fat_pct, "you are underfat")
     elif bmi >= 21 and bmi < 33:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     elif bmi >= 33 and bmi < 40:
        print('your fat percentage  is: ',  body_fat_pct, "you are overweight")
     else : 
        print('your fat percentage  is: ',  body_fat_pct, "you are obese")
  if age > 40 and age <=60:
     if body_fat_pct < 23:
        print('your fat percentage is: ',  body_fat_pct, "you are underfat")
     elif bmi >= 23 and bmi < 35:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     elif bmi >= 35 and bmi < 40:
        print('your fat percentage  is: ',  body_fat_pct, "you are overweight")
     else : 
        print('your fat percentage  is: ',  body_fat_pct, "you are obese")
  if age > 60:
     if body_fat_pct < 24:
        print('your fat percentage is: ',  body_fat_pct, "you are underfat")
     elif bmi >= 24 and bmi < 36:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     elif bmi >= 36 and bmi < 42:
        print('your fat percentage  is: ',  body_fat_pct, "you are healthy")
     else : 
        print('your fat percentage  is: ',  body_fat_pct, "you are obese")

bfp_women_diagnosis(65, 180, 30)

your fat percentage  is:  37.44 you are healthy

*Body Fat Percentage for men*

In [100]:
def bfp_men(height, weight, age):
  bmi  = (weight/(height**2) ) * 703
  body_fat_pct = (1.20 * bmi) + (0.23 * age) - 16.2
  print(body_fat_pct)

bfp_men(height= 69, weight= 170, age = 40)

23.122243226212984


Men:

20-40 yrs old: 
> Underfat: under 8 percent, Healthy: 8-19 percent, Overweight: 19-25 percent, Obese: over 25 percent

41-60 yrs old:

> Underfat: under 11 percent, Healthy: 11-22 percent, Overweight: 22-27 percent, Obese: over 27 percent

61-79 yrs old:

> Underfat: under 13 percent, Healthy: 13-25 percent, Overweight: 25-30 percent, Obese: over 30 percent

## Function Practice ***

*   write a function **bfp_men_diagnosis()** that would calculate the bfp for men and would do tha diagnosis 
*   write a function **bfp_diagnosis()** that would calculate the bfp would do tha diagnosis, no matter women or men giving arguments (height= , weight= , age = , gender = )